:root {
    --var-hobby-item-height : 6rem;
    --var-hobby-item-expand-height: 12rem;
    --var-hobby-item-title-left: 5%;
}
.hobby-item {
    transition: height ease 1s;
    height: var(--var-hobby-item-height);
    backdrop-filter: blur(10px);
    cursor: pointer;
    overflow: hidden;
    &:hover {
        height: var(--var-hobby-item-expand-height);
        & .hobby-item-container {
            height: var(--var-hobby-item-expand-height);
        }

        & .hobby-item-title {
            left: var(--var-hobby-item-title-left);
            transform: translate(0%,-50%);
        }

        & .hobby-item-content-container {
            transition-delay: 0.5s;

            opacity: 1;
        }
    }
}

.hobby-item-content-container {
    height: 100%;
    justify-content: start;
    transition: opacity ease 0.5s;
    opacity: 0;
    display: flex;

    & > div {
        width: 30%;
    }
}

.hobby-item-container {
    transition: all ease 1s;
    height: var(--var-hobby-item-height);
    text-align: center;
}

.hobby-item-img {
    object-fit: cover;
}

.hobby-item-title {
    transition: all ease 0.5s;
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

}