@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, main {
    margin: 0;
    padding: 0;
    font-family: "nanumsquare", serif;
}


:root {
    --var-screen-width: 100vw;
    --var-screen-height: 100vh;
}
.main-background-active {
}


.main-background {
    transition: opacity ease 0.5s;
    height: var(--var-screen-height);
    width: var(--var-screen-width);
    background-size: cover;
    z-index: 1;
    position: relative;
}
.main-background-blur {
    height: var(--var-screen-height);
    width: var(--var-screen-width);
    backdrop-filter: blur(20px);
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}